$p: 1px;
$r: 50vh;

@property --a {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false
}

@keyframes a {
  to {
    --a: 1turn
  }
}

.fx-button {
  --_p: var(--p, 1);
  --q: (1 - var(--_p));
  justify-self: var(--p, end);
  position: relative;
  text-align: var(--p, right);
  border: none !important;
  box-shadow: none;

  &:first-of-type {
    --p: 0
  }

  &::before {
    --r0: calc(var(--_p) * #{$r});
    --r1: calc(var(--q) * #{$r});
    --p0: calc(var(--_p) * #{$p});
    --p1: calc(var(--q) * #{$p});
    position: absolute;
    inset: 0;
    z-index: -1;
    padding: $p;
    padding-inline: var(--p1) var(--p1);
    border-radius: var(--r1) var(--r1) var(--r1) var(--r1);
    background: linear-gradient(#ffff 0 0) content-box,
    conic-gradient(in hsl longer hue from var(--a),
        rgb(255 0 0/ .5) 0 100%);
    filter: url(#glow);
    animation: a 10s infinite linear;
    content: ''
  }
}

@media (prefers-color-scheme: dark) {
  .fx-button {
    &::before {
      background: linear-gradient(#18181b 0 0) content-box,
      conic-gradient(in hsl longer hue from var(--a),
          rgb(255 0 0/ .5) 0 100%);
    }
    &:hover {
      background: transparent;
    }
  }
}

